.country-border {
    stroke: rgb(41, 32, 92);
    stroke-width: 3px;
    paint-order: 'stroke';
    fill: rgba(164, 198, 238, 0.78);
}

/* Common styles */
.city-group {
    cursor: pointer;
}

.city-indicator {
    fill: rgb(236, 213, 191);
    stroke: rgb(229, 197, 167);
    stroke-width: 1px;
    transition: 0.3s;
}

.city-caption {
    fill: rgb(51, 51, 51);
    font-family: 'Arial, sans-serif';
    font-size: 145px;
    letter-spacing: 1px;
    white-space: 'pre';
    filter: 'url(#drop-shadow-filter-0)';

    transition: 0.3s;
}

/* End Common styles */

/* Hover styles */

.city-group:hover .city-indicator {
    fill: rgb(238, 167, 92);
    stroke: rgb(232, 161, 85);

    stroke-width: 2px;
}

.city-group:hover .city-caption {
    fill: rgb(44, 44, 44);
}

/* End hover styles */

/* Selected styles */

.city-group.selected .city-indicator {
    rx: 0px;
    ry: 0px;
}

.city-group.selected .city-caption {
    fill: rgb(60, 54, 54);

    font-size: 160px;
    font-weight: bold;
    letter-spacing: 1.1;
}

.indicator-overlay {
    transition: 0.3s;

    fill: rgb(233, 183, 83);
    stroke-width: 0px;

    rx: 0px;
    ry: 0px;
}

.indicator-overlay.visible {
    rx: 10px;
    ry: 10px;
}

/* End selected styles */
